/* hero section */

.hero-section {
  min-height: 100vh;
  background: url(../../assets/images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg)
    center / cover;
  display: flex;
  flex-direction: ;
  align-items: flex-end;
}

.hero-title__container {
  position: absolute;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.hero-title {
  font-size: 104px;
  flex-shrink: 0;
  color: var(--white);
  font-weight: 400;
}

.hero-title__subpart {
  display: inline-block;
  animation: slideleft 25s linear infinite;
}

@keyframes slideleft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* work section */

.work-article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
}

.work-article__container--left {
  max-width: 450px;
  width: 100%;
}
.work-article__container--right {
  padding: 32px;
  max-width: 66%;
}

.work-article__picture {
  width: 100%;
}

.work-article__title {
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 32px;
}

.work-article__text-content {
  margin-bottom: 24px;
}
