/* reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    /* fonts */
    --ff-main: "Open Sans", sans-serif;

    /* colors */
    --white: #ecf0f1;
    --white-transparent: #ecf0f1c9;
    --black: #1f1e25;
    --black--lighter: #222;
    --blue-primary: #0ea5e9;
    --purple-primary: #a855f7;
    --t-red: #ff4968;
    --t-orange: #feac18;
    --t-yellow: #ffeb2e;
    --t-green: #65ea49;
    --t-blue: #00d6f1;
    --t-purple: #d92ad7;
}

/* generals */
html {
    cursor: none;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(
        to right,
        var(--blue-primary),
        var(--purple-primary)
    );
    color: var(--black);
    font-family: var(--ff-main);
    min-height: 100vh;
}

article,
footer,
nav,
form {
    flex-direction: column;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

a {
    color: inherit;
    cursor: none;
}

nav {
    gap: 16px;
}

input,
textarea {
    cursor: none;
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: var(--t-purple);
}

input[type="email"],
textarea {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

textarea {
    min-height: 120px;
}

label {
    margin-bottom: 8px;
}

.audio-toggler {
    background: none;
    border: none;
    font-size: 64px;
    animation: bump 0.9s infinite ease-in-out reverse;
    padding: 32px;
    cursor: none;
}

.audio-toggler i {
    pointer-events: none;
}

/* utils */
.sr-only {
    /* Ca c'est pas mon code c'est un truc que je garde toujours de côté au cas où
    j'ai besoin d'inclure un truc seulement pour les SR */
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.w200 {
    font-weight: 200;
}

.w700 {
    font-weight: 700;
}

.w900 {
    font-weight: 900;
}

.white {
    color: var(--white);
}

.c222 {
    color: var(--black);
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
}

.striked {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.t-center {
    text-align: center;
}

.box--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-transparent {
    background: var(--white-transparent);
}

.t-red {
    color: var(--t-red);
}

.bg-t-red {
    background: var(--t-red);
}

.t-orange {
    color: var(--t-orange);
}

.bg-black {
    background: var(--black--lighter);
}

.bg-t-orange {
    background: var(--t-orange);
}

.t-yellow {
    color: var(--t-yellow);
}

.bg-t-yellow {
    background: var(--t-yellow);
}

.t-green {
    color: var(--t-green);
}

.bg-t-green {
    background: var(--t-green);
}

.t-blue {
    color: var(--t-blue);
}

.bg-t-blue {
    background: var(--t-blue);
}

.t-purple {
    color: var(--t-purple);
}

.bg-t-purple {
    background: var(--t-purple);
}

.navigation-link {
    display: block;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navigation-link:hover {
    background-color: #fd3a5b;
    transition: background-color 0.2s;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 16px;
}

.btn {
    display: flex;
    align-items: center;
    background: var(--blue-primary);
    color: var(--white);
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.3);
}

.btn span {
    font-size: 24px;
    margin-left: 4px;
}

.btn:hover {
    animation: shake 0.3s;
}

form .btn {
    margin-top: 32px;
}

/* Cursor */
.cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    background: url(../../assets/icons/tetris.png);
    /* Faut être sûr qu'il sera toujours au dessus de tout */
    z-index: 100;
    pointer-events: none;
    display: none;
}

/* Je l'affiche uniquement sur les desktop */
@media (pointer: fine) {
    .cursor {
        display: block;
    }
}

/* Animations */
@keyframes bump {
    to {
        scale: 1.2;
    }
}

@keyframes shake {
    25% {
        transform: translateX(3%);
    }
    33% {
        transform: translateX(-3%);
    }
    40% {
        transform: translateX(3%);
    }
    61% {
        transform: translateX(-3%);
    }
    85% {
        transform: translateX(3%);
    }
}

/* ********************************************************************************** */

/* basic bloc layouts */
.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
    padding: 16px;
    gap: 16px;
    grid-auto-flow: row dense;
}

.box {
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: scale 0.2s ease-out;
}

.box:hover {
    scale: 1.00875;
    transition: scale 0.2s ease-out;
}

.box-hidden {
    display: none;
}

.box--2-1 {
    grid-column: span 2;
}

.box--2-2 {
    grid-column: span 2;
    grid-row: span 2;
}

.box--2-3 {
    grid-column: span 2;
    grid-row: span 3;
}

.box--2-4 {
    grid-column: span 2;
    grid-row: span 4;
}

.box--4-1 {
    grid-column: span 4;
}

.box--4-2 {
    grid-column: span 4;
    grid-row: span 2;
}

.box--6-1 {
    grid-column: span 6;
}

.box--8-1 {
    grid-column: span 8;
}

.box--12-1 {
    grid-column: span 12;
}

/* ********************************************************************************** */

/* bloc  specifics */

#box-1 {
    font-weight: 900;
}

#box-article h2 {
    margin-bottom: 64px;
}

#box-6 h2 {
    margin-bottom: 16px;
}

form h2 {
    margin-bottom: 32px;
}

#box-22 {
    background: url(../../assets/images/cosmo-square-640.jpg) center / cover;
}

/* ********************************************************************************** */

/* @media */

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }

    .box--12-1 {
        grid-column: span 8;
    }
}

@media screen and (max-width: 820px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .box--8-1 {
        grid-column: span 6;
    }

    .box--12-1 {
        grid-column: span 6;
    }

    .box-hidden--820 {
        display: block;
    }
}

@media screen and (max-width: 620px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .box--6-1 {
        grid-column: span 4;
    }

    .box--8-1 {
        grid-column: span 4;
    }

    .box--12-1 {
        grid-column: span 4;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }
}
